.my-deco-none
{
    color:#000000 !important;
    text-decoration:none;
}
.my-navbar_item-style
{
    font-weight: bold;
}
btn
{
    outline: none;
}
.my-bestSeller
{
    background: rgba(95, 92, 90, 0.3);
}