<!doctype html>
<html ng-app='myApp' ng-controller='myAppController' lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="./CSS/specific_product.css">

    <!-- Angular JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.2/angular-sanitize.js"></script>
    <script src="./node_modules/ngstorage/ngStorage.min.js"></script>

    <!-- My JavaScript -->
    <script src="JS/product_js.js"></script>
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <title>{{specificData.name}}</title>
  </head>
  <body>
    
    <!-- Logo zone -->
    <nav class="container-fluid navbar navbar-light bg-light d-block text-center">
      <a class="navbar-brand" href="#">
        <h2><i class="fas fa-shopping-cart"></i><p><i>The DF Store</i></p></h2>
      </a>
    </nav>
    <!-- Logo zone -->
  
    <!-- Navbar zone -->
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto my-navbar_item-style">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item active" href="./product.html">All product</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">DANISH STORE</a>
              <a class="dropdown-item" href="#">HOA PHAT</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contact.html">Contact</a>
          </li>
        </ul>

      </div>
    </nav>
    <!-- Navbar zone -->

    <div class="container">

      <!-- Main zone -->
      <div class="py-3 row">
        <!-- Carousel picture -->
        <div class="col-md-6">
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators row">
              <img class="col-md-2 img-thumbnail active" ng-class="{'d-none' : specificData['imageUrl']['imageUrl'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="0">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl2'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl2']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="1">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl3'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl3']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="2">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl4'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl4']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="3">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl5'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl5']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="4">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl6'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl6']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="5">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl7'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl7']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="6">
              <img class="col-md-2 img-thumbnail" ng-class="{'d-none' : specificData['imageUrl']['imageUrl8'] == ''}" ng-src="{{specificData['imageUrl']['imageUrl8']}}" alt="First slide" data-target="#carouselIndicators" data-slide-to="7">
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl']}}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl2']}}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl3']}}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl4']}}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl5']}}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl6']}}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl7']}}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="img-thumbnail d-block w-100" ng-src="{{specificData['imageUrl']['imageUrl8']}}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <!-- Carousel picture -->
        <div class="col-md-6">
          <p>price: <span id="my-price-deco">${{specificData.price}}</span></p>
          <p><span>Manufacture: </span><span class="font-weight-bold">{{specificData.manufacture}}</span></p>
          <p>Product name: {{specificData.name}}</p>
          <p>Category : {{specificData.category}}</p>
          <p>Model : {{specificData.model}}</p>
          <p class="font-weight-bold">{{specificData['keyfeatures']['Information of keyfeatures']}}</p>
          <div>
            <h2 id='my-oos-deco' ng-if='specificData.quantity_of_inventory == 0'>Out of stock</h2>
            <h2 id='my-is-deco' ng-if='specificData.quantity_of_inventory != 0'>In stock</h2>
          </div>
          <div class="row text-center d-block py-2">
            <button class="my-btn"><span class="my-inner-btn"><span>Add to cart</span></button>
            <button class="my-btn mx-3"><span class="my-inner-btn">Click</span></button>
            <button class="my-btn"><span class="my-inner-btn">Click</span></button>
          </div>
        </div> 
        <!-- Product details -->
        <div ng-init="binder = 1" class="container my-3">
          <hr>
          <h1 class="text-center font-italic">Product details</h1>
          <div class="row">
            <!-- Left list -->
            <div id="my-information-list" class="col-md-6 text-right">
              <ul>
                <li><a ng-click="binder = 1" ng-class="{'font-weight-bold': binder==1}" class="d-block">Key features <i class="fas fa-chevron-right"></i></i></a></li>
                <li><a ng-click="binder = 2" ng-class="{'font-weight-bold': binder==2}" class="d-block">Care instructions <i class="fas fa-chevron-right"></i></a></li>
                <li><a ng-click="binder = 3" ng-class="{'font-weight-bold': binder==3}" class="d-block">Good to know <i class="fas fa-chevron-right"></i></a></li>
                <li><a ng-click="binder = 4" ng-class="{'font-weight-bold': binder==4}" class="d-block">Materials <i class="fas fa-chevron-right"></i></a></li>
                <li><a ng-click="binder = 5" ng-class="{'font-weight-bold': binder==5}" class="d-block">Documents <i class="fas fa-chevron-right"></i></a></li>
              </ul>
            </div>
            <!-- Left list -->
            <!-- Right list -->
            <div class="col-md-6">
              <!-- Key features -->
              <div ng-if="binder == 1">
                <!-- Key features information -->
                <div>
                  <p class="font-weight-bold">-- Key features --</p>
                  <p>{{specificData['keyfeatures']['Information of keyfeatures']}}</p>
                </div>
                <!-- Key features information -->
                <!-- Assembled size -->
                <div>
                  <p class="font-weight-bold">-- Assembled size --</p>
                  <div ng-repeat = "(key,value) in specificData['keyfeatures']['Assembled size']">
                    <div class="row">
                      <p class="col-md-4">{{key}}:</p>
                      <p class="col-md-8">{{value}}</p>
                    </div>
                  </div>
                </div>
                <!-- Assembled size -->
                <!-- Package size & weight -->
                <div>
                  <p class="font-weight-bold">-- Package size & weight --</p>
                  <p class="font-weight-bold">{{specificData['keyfeatures']['Pakage name']}}</p>
                  <div ng-repeat="(key,value) in specificData['keyfeatures']['Package size & weight']">
                    <p class="font-weight-bold">{{key}}</p>
                    <div class="row" ng-repeat = "(key,value) in specificData['keyfeatures']['Package size & weight'][key]">
                      <p class="col-md-4">{{key}}:</p>
                      <p class="col-md-8">{{value}}</p>
                    </div>
                  </div>
                </div>
                <!-- Package size & weight -->
              </div>
              <!-- Key features -->
              <!-- Care instructions -->
              <div ng-if="binder == 2">
                <div>
                  <p class="font-weight-bold">-- Care instructions --</p>
                  <p class="text-justify" ng-bind-html="specificData['careinstructions']"></p>
                </div>
              </div>
              <!-- Care instructions -->
              <!-- Care instructions -->
              <div ng-if="binder == 3">
                <div>
                  <p class="font-weight-bold">-- Good to know --</p>
                  <p class="text-justify" ng-bind-html="specificData['goodtoknow']"></p>
                  <p class="font-weight-bold">-- Designer --</p>
                  <p class="text-justify" ng-bind-html="specificData['designer']"></p>
                </div>
              </div>
              <!-- Care instructions -->
              <!-- Materials  -->
              <div ng-if="binder == 4">
                <div>
                  <p class="font-weight-bold">-- Materials --</p>
                  <p class="text-justify" ng-bind-html="specificData['materials']"></p>
                </div>
              </div>
              <!-- Materials -->
              <!-- Documents  -->
              <div ng-if="binder == 5">
                <div>
                  <p class="font-weight-bold">-- Documents --</p>
                  <a class="text-justify" href="{{specificData.productDocument}}">Click for download</a>
                </div>
              </div>
              <!-- Documents -->
            </div>
            <!-- Right list -->
          </div>
        </div>
        <!-- Product details -->
      </div>
      <!-- Main zone -->

      <!-- Footer zone -->
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-md-6">
            <p>Address: 590 Cach Mang Thang 8 - District 3 - Ho Chi Minh - Vietnam</p>
            <p>Tel: +843829302</p>
          </div>
          <div class="col-md-6 display-4">
            <ul class="text-right list-inline">
              <li class="list-inline-item">
                <a class='my-deco-none' href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a class='my-deco-none' href=""><i class="fab fa-pinterest"></i></a>
              </li>
              <li class="list-inline-item">
                <a class='my-deco-none' href=""><i class="fab fa-twitter-square"></i></a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
      <!-- Footer zone -->

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>